<div class="container-fluid" id="page1">
  <nav class="nav">
    <div class="container" id="nav1">
      <div class="logo col-md-2 col-2">
        <a href="#">
          <img src="../assets/img/logo2.png" class="img-fluid" id="logo" alt="logo" srcset="../assets/img/logo2.png 1x"></a>
      </div>
      <div id="mainListDiv" class="main_list col-md-4 col-9">
        <ul class="navlinks ">
          <li>

            <a href="https://twitter.com/">
              <img src="../assets/img/twitter.png" class="img-fluid icone" alt="twitter" srcset="../assets/img/twitter.png 1x">
            </a>
          </li>
          <li><a href="https://www.facebook.com/"><img src="../assets/img/facebook.png" class="img-fluid icone" alt="facebook" srcset="../assets/img/facebook.png 1x"></a>
          </li>
          <li><a href="https://fr.linkedin.com/"><img src="../assets/img/linkedin.png" class="img-fluid icone" alt="linkedin" srcset="../assets/img/linkedin.png 1x"></a>
          </li>
          <li><a href="https://www.youtube.com/"><img src="../assets/img/youtube.png" class="img-fluid icone" alt="youtube" srcset="../assets/img/youtube.png 1x"></a>
          </li>
          <li><a href="#"><img src="../assets/img/.png" class="img-fluid icone" id="menu-burger" alt="menu" srcset="../assets/img/burger.png 1x">
            </a>
          </li>
          <li>
            <a href="#" onclick="apparait()">
              <img src="../assets/img/search.png" class="img-fluid search_menu icone" id="search" alt="" srcset="../assets/img/search.png"></a>
          </li>

        </ul>
      </div>
      <span class="navTrigger d-none d-sm-block col-md-12">
        <h1 id="titre"><strong>Webmag-agency</strong></h1>
      </span>
    </div>

    <!-- ---------------------------- deuxième menu horizontal-------------------- -->

    <!-- <div class="container" id="nav3">

    <div id="mainListDiv" class="main_list">
    </div>

  </div>-->
  </nav>
  <!-- menu vertical droite -->

  <!--<div id="nav2" class="navbar justify-content-center">
  <nav class="navbar col-2 "> 
  
  <a class="nav-link" href="#" onclick="block()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>
  <a class="nav-link" href="#" onclick="block2()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>
  <a class="nav-link" href="#" onclick="block3()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>
  <a class="nav-link" href="#" onclick="block4()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>



</nav> 
</div>-->
  <!--<div id="search_bar">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary" type="submit">Chercher</button>
  </form>
</div>-->
  <!-- ----------------------------------------------BURGER----------------------------------- -->
  <div class="overlay overlay-contentpush">
    <!-- effet ici -->
    <button type="button" class="overlay-close">Close</button>
    <nav>
      <ul>
        <li><a href="#">Nos réalisations</a></li>
        <li><a href="#">Annuaire</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Evenements</a></li>
        <li><a href="#">Co-working</a></li>
      </ul>
    </nav>
  </div>
  <!-- ------------------------------------------FIN BURGER----------------------------------- -->


  <app-accueil></app-accueil>
</div>

<!-- Footer -->
<footer class="page-footer font-small indigo" id="pageEnd">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Very long link 1</a>
          </li>
          <li>
            <a href="#!">Very long link 2</a>
          </li>
          <li>
            <a href="#!">Very long link 3</a>
          </li>
          <li>
            <a href="#!">Very long link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
