ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;

}

.carousel-control-prev {}


.carousel-control-next {}

.carousel-indicators {}

/* burger */

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153, 204, 51, 0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../assets/img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0;
}

/* Effects */
/* html,
body {
  overflow: hidden;
} */

.container {
  /* overflow: hidden; */
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.container.overlay-open {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.container::after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-contentpush {
  background: rgb(187, 7, 52);
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;

  height: 70vh;
  width: 70vw;
}

.overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  z-index: 9999;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}

/* fin du burger */


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-image: url(../assets/img/background-abstract-1065003_1280.jpg);
  font-family: 'Quicksand';
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 22px;
  color: #fff;
  position: absolute;
  top: 32%;
  left: 40%;
}

h2 {
  text-align: center;

  font-weight: bold;
  font-size: 1.7rem;
}

#page1 {
  height: 100%;
  margin-bottom: 45%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;

}

#page2 {
  height: 100%;
  margin-top: 100vh;

}

#page10 {
  position: relative;
  height: 32%;
  padding: 0;
}

#pageEnd {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: rgb(124, 122, 122);
}

#titre {
  transform: translateX(-50%);
}

/* -------------------------------------- */
.nav {
  width: 98%;
  height: 55px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  vertical-align: middle;
  background-color: #00000066;
  z-index: 80;
  padding: 5px;
  margin-right: 3%;
}

.nav_scroll {
  background-color: rgb(156, 155, 155);
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 0rem;
}

#logo {
  width: 100%;
  min-width: 75px;
}

.nav div.main_list {
  height: 64px;
  float: right;
  padding: 5px;
  margin-right: 3%;
  z-index: 99;
}

.nav div.main_list ul {
  width: 100%;
  height: 64px;
  display: flex;
  list-style: none;
  /*! padding-right: 3em; */
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 75px;
  padding: 0;
  padding-left: 1rem;
  top: 10px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 60px;
  font-size: 1.5rem;

}

.icone {
  vertical-align: top;
  margin-top: 22%;
  height: 40%;
  z-index: 5;

}

/* modification de la première nav pour coller le logo à gauche */
#nav1,
#nav3 {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  max-width: 100%;
}

#nav1,
#nav2,
#nav3 {
  position: fixed;
}

#nav1 {
  height: 64px;
  z-index: 9999;
}

#nav2 {

  right: 0;
  height: 100%;
  width: 5%;
  /*! max-width: 5%; */
  min-width: 5rem;
  background-color: #00000066;
  padding-top: 7%;

  /*! padding-bottom: 7%; */
}

#nav3 {
  background-color: #ffffff11;
  z-index: 2;
  height: 10%;
}

.navbar-nav {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.navbar {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-bottom: 7%;
  /*! padding-left: 1%; */
  /*! padding-right: 1%; */
  justify-content: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navTrigger {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 65px;
  letter-spacing: 1em;
  font-weight: bold;
}

.nav_button {
  position: absolute;
  top: 115%;
  height: 100vh;
}

.button_nav {
  height: 30vh;
  padding-left: 0;
  padding-right: 30px;
}





a {
  color: rgb(235, 235, 235)
}

/* .search_menu {
  max-width: 2em;
} */

@media screen and (min-width:961px) {
  .nav {
    height: 15%;
  }

  .nav div.main_list {
    padding-top: 2%;

  }


  .nav div.main_list ul li {
    padding-left: 1.5rem;
    height: 75px;
  }

  /* #page1 {
    height: 100vh;
    margin-bottom: 45%;
    overflow-y: scroll;
    padding: 0;
  } */
  #page1 {
    margin: 0;
    height: 30vh;
  }

  #page2 {
    margin-top: 26vh;
  }

  .nav_button {
    top: 22%;
  }
}


@media screen and (min-width:1280px) {
  h1 {
    top: 20%;
  }

  .nav {
    height: 10%;

  }

  #page1 {
    margin: 0;
    height: 30vh;
  }

  #page2 {
    margin-top: 38vh;

  }

  .nav_button {
    background-color: rgb(124, 122, 122);

  }

  .nav div.main_list ul li actif {
    transform: scale(1.5);
    color: #fff;
  }

  .nav div.main_list {
    padding-top: 1%;

  }

  #logo {
    width: 70%;
  }
}
