ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;

}

.carousel-control-prev {}


.carousel-control-next {}

.carousel-indicators {}



html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-image: url(../assets/img/background-abstract-1065003_1280.jpg);
  font-family: 'Quicksand';
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 1.375rem;
  font-family: 'Roboto',
    sans-serif;
  color: #fff;
  position: absolute;
  top: 32%;
  left: 40%;
}




h2 {
  text-align: center;

  font-weight: bold;
  font-size: 1.7rem;
}

#page1 {
  height: 100%;
  margin-bottom: 45%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;

}

#page2 {
  height: 100%;
  margin-top: 100vh;

}

#page10 {
  position: relative;
  height: 32%;
  padding: 0;
}

#pageEnd {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: rgb(124, 122, 122);
}

#titre {
  transform: translateX(-50%);
}

/* -------------------------------------- */
.nav {
  width: 98%;
  height: 55px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  vertical-align: middle;
  background-color: #00000066;
  z-index: 80;
  padding: 5px;
  margin-right: 3%;
}

.nav_scroll {
  background-color: rgb(156, 155, 155);
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 0rem;
}

#logo {
  width: 100%;
  min-width: 75px;
}

.nav div.main_list {
  height: 64px;
  float: right;
  padding: 5px;
  margin-right: 3%;
  z-index: 99;
}

.nav div.main_list ul {
  width: 100%;
  height: 64px;
  display: flex;
  list-style: none;
  /*! padding-right: 3em; */
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 75px;
  padding: 0;
  padding-left: 1rem;
  top: 10px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 60px;
  font-size: 1.5rem;

}

.icone {
  vertical-align: top;
  margin-top: 22%;
  height: 40%;
  z-index: 5;

}

/* modification de la première nav pour coller le logo à gauche */
#nav1,
#nav3 {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  max-width: 100%;
}

#nav1,
#nav2,
#nav3 {
  position: fixed;
}

#nav1 {
  height: 64px;
  z-index: 9999;
}

#nav2 {

  right: 0;
  height: 100%;
  width: 5%;
  /*! max-width: 5%; */
  min-width: 5rem;
  background-color: #00000066;
  padding-top: 7%;

  /*! padding-bottom: 7%; */
}

#nav3 {
  background-color: #ffffff11;
  z-index: 2;
  height: 10%;
}

.navbar-nav {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.navbar {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-bottom: 7%;
  /*! padding-left: 1%; */
  /*! padding-right: 1%; */
  justify-content: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  padding: 0;
}

.navTrigger {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 65px;
  letter-spacing: 1em;
  font-weight: bold;
}

.nav_button {
  position: absolute;
  top: 115%;
  height: 100vh;
}

.button_nav {
  height: 25vh;
  padding-left: 0;
  padding-right: 30px;

}


a {
  color: rgb(235, 235, 235)
}

/* .search_menu {
  max-width: 2em;
} */

#button {
  position: absolute;
  bottom: 10%;
  width: 100%;
  margin-left: 2%;
  padding-left: 0;
}

.btn-secondary {
  box-shadow: 1px 1px 5px rgb(235, 235, 235);
}




/* animation searchbar */
.card {
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: 999;
  animation: search 1s;
}

@keyframes search {
  0% {
    top: -20%;
    left: -20%
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* fin d'animation searchbar */
@media screen and (min-width:961px) {
  #button {
    bottom: 10%;
    margin-left: 3.5%;

  }

  .nav {
    height: 15%;
  }

  .nav div.main_list {
    padding-top: 2%;

  }


  .nav div.main_list ul li {
    padding-left: 1.5rem;
    height: 75px;
  }

  /* #page1 {
    height: 100vh;
    margin-bottom: 45%;
    overflow-y: scroll;
    padding: 0;
  } */
  #page1 {
    margin: 0;
    height: 30vh;
  }

  #page2 {
    margin-top: 26vh;
  }

  .nav_button {
    top: 25%;
  }
}






@media screen and (min-width:1200px) {
  h1 {
    top: 20%;
  }

  .nav {
    height: 10% !important;

  }

  .nav_scroll {
    background-color: rgb(156, 155, 155);
    height: 10%;
  }

  #page1 {
    margin: 0;
    height: 30vh;
  }

  #page2 {
    margin-top: 38vh;

  }

  .nav_button {
    background-color: rgb(124, 122, 122);

  }

  .nav div.main_list ul li actif {
    transform: scale(1.5);
    color: #fff;
  }

  .nav div.main_list {
    padding-top: 1%;

  }

  #logo {
    width: 70%;
  }

  #titre {
    top: 35%;
  }

}
