<div class="container-fluid" id="page1">
  <nav class="nav">
    <div class="container" id="nav1">
      <div class="logo col-md-2 col-2">
        <a href="#">
          <img src="../assets/img/logo2.png" class="img-fluid" id="logo" alt="logo" srcset="../assets/img/logo2.png 1x"></a>
      </div>
      <div id="mainListDiv" class="main_list col-8 col-md-5 col-xl-4 ">
        <ul class="navlinks ">
          <li>

            <a href="https://twitter.com/" target="_blank">
              <img src="../assets/img/twitter.png" class="img-fluid icone" alt="twitter" srcset="../assets/img/twitter.png 1x">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="../assets/img/facebook.png" class="img-fluid icone" alt="facebook" srcset="../assets/img/facebook.png 1x"></a>
          </li>
          <li>
            <a href="https://fr.linkedin.com/" target="_blank">
              <img src="../assets/img/linkedin.png" class="img-fluid icone" alt="linkedin" srcset="../assets/img/linkedin.png 1x"></a>
          </li>
          <li>
            <a href="https://www.youtube.com/" target="_blank">
              <img src="../assets/img/youtube.png" class="img-fluid icone" alt="youtube" srcset="../assets/img/youtube.png 1x"></a>
          </li>

          <li>
            <a href="#" onclick="apparait()">
              <img src="../assets/img/search.png" class="img-fluid search_menu icone" id="search" alt="" srcset="../assets/img/search.png"></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a href="#" class="nav-link" routerLink="connexion">
              <img src="../assets/img/logo_utilisateur.png" class="img-fluid icone" alt="menu" srcset="../assets/img/logo_utilisateur.png 1x">
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a href="#" class="nav-link" routerLink="member/create">
              <img src="../assets/img/logo_utilisateur.png" class="img-fluid icone" alt="menu" srcset="../assets/img/logo_utilisateur.png 1x">
            </a>
          </li>
        </ul>
      </div>
      <span class="navTrigger d-none d-md-block col-md-12 ">
        <h1 id="titre" class="d-flex align-items-center"><strong>Webmag-agency</strong></h1>
      </span>
    </div>
    <router-outlet></router-outlet>
    <!-- ---------------------------- deuxième menu horizontal-------------------- -->

    <!-- <div class="container" id="nav3">

    <div id="mainListDiv" class="main_list">
    </div>

  </div>-->
  </nav>
  <!-- menu vertical droite -->

  <!--<div id="nav2" class="navbar justify-content-center">
  <nav class="navbar col-2 "> 
  
  <a class="nav-link" href="#" onclick="block()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>
  <a class="nav-link" href="#" onclick="block2()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>
  <a class="nav-link" href="#" onclick="block3()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>
  <a class="nav-link" href="#" onclick="block4()">
    <img src="../assets/img/point_menu.png" class="img-fluid point_menu" id="" alt="point_menu" srcset="../assets/img/point_menu.png 1x"></a>



</nav> 
</div>-->
  <!--<div id="search_bar">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary" type="submit">Chercher</button>
  </form>
</div>-->
  <!-- ----------------------------------------------BURGER----------------------------------- -->
  <div class="overlay overlay-contentpush">
    <!-- effet ici -->
    <button type="button" class="overlay-close">Close</button>
    <nav>
      <ul>
        <li><a href="#">Nos réalisations</a></li>
        <li><a href="#">Annuaire</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Evenements</a></li>
        <li><a href="#">Co-working</a></li>
      </ul>
    </nav>
  </div>
  <!-- ------------------------------------------FIN BURGER----------------------------------- -->





</div>
<div class="container-fluid" id="page2">
  <div class="container-fluid d-none d-xl-block" id="card">
    <app-card></app-card>
  </div>
  <app-accueil></app-accueil>
  <div class="container-fluid d-none d-md-block d-xl-none nav_button">
    <div class="row  justify-content-around">
      <div class="col-md-2 col-5 button_nav">
        <a href="#pole-emploi">
          <button type="button" class="btn btn-secondary btn-lg">Réalisations</button>
        </a>
      </div>
      <div class="col-md-2 offset-md-8 col-5  button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">Projets</button>
        </a>
      </div>
      <div class="col-md-2 col-5 button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">Services</button>
        </a>
      </div>
      <div class="col-md-2 offset-md-8 col-5  button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">Design</button>
        </a>
      </div>
      <div class="col-md-2 col-5 button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">Nous connaitre</button>
        </a>
      </div>
      <div class="col-md-2 offset-md-8 col-5 button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">Co-working</button>
        </a>
      </div>
    </div>
  </div>


  <div class="container-fluid d-lg-none" id="button">
    <div class="row  justify-content-around">
      <div class=" col-5 col-md-2 offset-md-2 offset-xl-3">
        <a href="#page4" target="_blank">
          <button type="button" class="btn btn-secondary btn-lg">Recrutement</button>
        </a>
      </div>
      <div class=" col-5 col-md-5 offset-1 offset-xl-2">
        <a href="#" routerLink="contact/create">
          <button type="button" class="btn btn-secondary btn-lg">Prendre RDV</button>
        </a>
      </div>
    </div>
  </div>





  <div class="container-fluid d-block d-md-none nav_button">
    <div class="row  justify-content-around">
      <div class="col-md-2 col-5 offset-1 button_nav">
        <a href="#pole-emploi">
          <button type="button" class="btn btn-secondary btn-lg">prendre RDV</button>
        </a>
      </div>
      <div class="col-md-2 offset-md-8 col-5  button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">prendre RDV</button>
        </a>
      </div>
      <div class="col-md-2 col-5 offset-1 button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">prendre RDV</button>
        </a>
      </div>
      <div class="col-md-2 offset-md-8 col-5  button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">prendre RDV</button>
        </a>
      </div>
      <div class="col-md-2 col-5 offset-1 button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">prendre RDV</button>
        </a>
      </div>
      <div class="col-md-2 offset-md-8 col-5 button_nav">
        <a href="#rendez">
          <button type="button" class="btn btn-secondary btn-lg">prendre RDV</button>
        </a>
      </div>
    </div>
  </div>




</div>
<app-recrutement></app-recrutement>
<app-contact></app-contact>
<app-projet></app-projet>
<app-prestations></app-prestations>
<app-google></app-google>
<div class="container-fluid" id="page10">
  <!-- Footer -->
  <footer class="page-footer font-small indigo" id="pageEnd">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Mentions légales</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
            <li>
              <a href="#!">A propos</a>
            </li>
            <li>
              <a href="#!">CGU</a>
            </li>
            <li>
              <a href="#!">Politique de confidentialité</a>
            </li>
            <!-- <li>
              <a href="#!">Very long link 4</a>
            </li> -->
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Prestations</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#page6">Gestion de projet</a>
            </li>
            <li>
              <a href="#page6">Web design</a>
            </li>
            <li>
              <a href="#page6">Web marketing</a>
            </li>
            <li>
              <a href="#page6">Référencement naturel</a>
            </li>
            <li>
              <a href="#page6">Développement Web</a>
            </li>
            <li>
              <a href="#page6">Identité visuel</a>
            </li>
            <li>
              <a href="#page6">Création projet</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Services</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#page6">Refonte de site</a>
            </li>
            <li>
              <a href="#page6">Création avec CMS</a>
            </li>
            <li>
              <a href="#page6">Site e-commerce</a>
            </li>
            <li>
              <a href="#page6">Site vitrine</a>
            </li>
            <li>
              <a href="#!">Responsive design</a>
            </li>
            <li>
              <a href="#!">Paiement en ligne</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Le site</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#page6">Projets</a>
            </li>
            <li>
              <a href="#page4">Recrutement</a>
            </li>
            <li>
              <a href="#" routerLink="contact/create">Contact</a>
            </li>
            <li>
              <a href="#">Connexion</a>
            </li>
            <li>
              <a href="#" routerLink="member/create">Inscription</a>
            </li>
            <li>
              <a href="#">Responsive design</a>
            </li>
            <li>
              <a href="#!">Paiement en ligne</a>
            </li>

          </ul>

        </div>


      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://tetsuo-project.firebaseapp.com/">Tetsuo-project</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</div>
<app-work-in-progress></app-work-in-progress>



<!-- <div class="mat-app-background basic-container">
  <dialog-overview-example>loading</dialog-overview-example>
</div>
<span class="version-info">Current build: 9.1.3</span> -->
