<div class="container-fluid" id="work">

  <div class="row">
    <div class="col-12 d-flex align-items-center" id="titre">
      <h2>Work in progress...</h2>
    </div>
  </div>
  <div class="row " id="anim">
    <div class="col-6 d-flex align-items-start justify-content-start">
      <a href="#page1">
        <div class="btn btn-secondary d-flex justify-content-center align-items-center">
          Home page
        </div>
      </a>
    </div>

    <div class="col-6">
      <div class="block5 align-items-center">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
