#page_connexion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 55vw;
  height: 75vh;
  overflow-y: auto;
}

#connexion {
  background-color: rgb(124, 122, 122);
}

#underline {
  text-decoration: line-through;
  text-align: start;
}


.btn-secondary {
  margin: 2%;
  /* height: 65%; */
}

.card-body card {
  width: 65vw;
}

label {
  font-family: play;
  font-size: 1.2rem;
}

.porte2 img {
  height: 80px;
  padding-top: 2%;
  box-shadow: transparent;
}
