<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (6).jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      <h3>Co-Working</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (5).jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (4).jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/img/carousel (3).jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>

</ngb-carousel>
<div class="container-fluid d-none d-xl-block" id="main_button">
  <div class="row">
    <div class="col-2 offset-xl-1">
      <a href="#pole-emploi">
        <button type="button" class="btn btn-secondary btn-lg">Recrutement</button>
      </a>
    </div>
    <div class="col-2 offset-xl-6">
      <a href="#rendez">
        <button type="button" class="btn btn-secondary btn-lg">Prendre RDV</button>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid d-xl-none" id="button">
  <div class="row  justify-content-around">
    <div class=" col-5 col-md-2 offset-md-2 offset-xl-3">
      <a href="#pole-emploi">
        <button type="button" class="btn btn-secondary btn-lg">Recrutement</button>
      </a>
    </div>
    <div class=" col-5 col-md-5 offset-1 offset-xl-2">
      <a href="#rendez">
        <button type="button" class="btn btn-secondary btn-lg">Prendre RDV</button>
      </a>
    </div>
  </div>
</div>
