/* You can add global styles to this file, and also import other style files */
html,
body {
  background-image: url(assets/img/background-abstract-1065003_1280.jpg);
}

@media screen and (min-width:961px) {
  .carousel-indicators {
    position: absolute;
    bottom: -2%;
  }
}
