<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex id, nisi iste ipsam, deserunt iure ad fuga, ea rerum quia vel labore pariatur sapiente numquam autem. Ab excepturi ducimus quidem,
      necessitatibus porro eum alias nihil qui recusandae nesciunt obcaecati voluptatem aliquam autem enim consequuntur est iure dignissimos. Eius sunt hic illo et rerum. Accusantium quos, vero earum
      commodi maiores voluptatibus repellat numquam doloremque fuga, qui magni nemo odit laboriosam temporibus nostrum cum enim ad deleniti illum atque excepturi alias quas! Optio quaerat possimus est
      sed exercitationem eligendi suscipit. Molestiae ut earum cupiditate! Maxime natus esse dolore provident officia. Dolores est molestias explicabo iure? Vero dignissimos praesentium earum ex
      necessitatibus a, nulla autem laboriosam dolorem cupiditate facilis suscipit, tempore ab sit laudantium mollitia aut omnis in quaerat. Numquam neque nemo harum quia veniam doloribus officiis
      eveniet exercitationem aliquid beatae, maiores autem eaque vitae vero recusandae nisi ab cum, dolore, omnis sunt?</p>
  </header>
</div>
