<div class="container-fluid d-flex align-items-center justify-content-center" id="page7">
  <div class="card mb-4" style="margin-top: 25px">
    <div class="container">
      <form [formGroup]="angForm" (submit)='addPost(title, content)'>
        <div class="form-group">
          <label for="title" class="text-info">Titre</label>
          <input type="text" id="title" class="form-control" formControlName="title" #title>
        </div>
        <div class="form-group">
          <label for="content" class="text-info">Contenu</label>
          <textarea class="form-control" id="content" rows="5" formControlName="content" #content></textarea>
        </div>


        <button type="button" class="float-right btn btn-warning" style="margin-bottom: 5px" [disabled]="angForm.pristine || angForm.invalid"
          (click)="addPost(angForm.controls['title'].value, angForm.controls['content'].value)"><a href="#" [routerLink]="['/admin']">Ajouter un post</a></button>
      </form>
    </div>
  </div>
</div>
