<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptates
    expedita delectus reiciendis odit voluptatem non repudiandae mollitia, doloremque velit error minima ex, voluptate, laborum a cum nihil. Quisquam facilis repellendus sint pariatur suscipit,
    impedit tempora officiis, nobis sequi quo dolores rem, saepe quasi dignissimos repudiandae maxime? Maiores, enim mollitia? </button>
</form>
<!-- <form class="form-inline md-form mr-auto mb-4"> 
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
    <button mdbBtn size="sm" color="warning" outline="true"
    rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> 
</form>
<form class="form-inline md-form mr-auto mb-4"> 
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
    <button mdbBtn size="sm" color="elegant" rounded="true"
    class="my-0 waves-light" mdbWavesEffect type="submit">Search</button> 
</form> -->
